{% extends base_template %}
{% block content %}
{% if module_data %}
  <table class="module-data dns-module" style="width:100%;">
    <thead>
      <tr>
        {% for header in module_data_headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in module_data %}
        <tr>
          <td><div>{{ row['src'] }}</div></td>
          <td><div>{{ row['dst'] }}</div></td>
          <td><div>{{ row['res_ip'] }}</div></td>
          <td><div>{{ row['typ'] }}</div></td>
          <td><div>{{ row['dat'] }}</div></td>
          <td class="count-row"><div>{{ row['count'] }}</div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="callout-container info">
    <div class="icon"></div>
    No DNS traffic detected from the device
  </div>
{% endif %}
{% endblock %}