{% macro header(is_first, title, json_data, device, logo, icon_qualification, icon_pilot) %}
{% if is_first %}
  <div class="header first-page">
    <div class="header-info">
      {# Badge #}
      <p class="header-info-badge">
        {% if json_data['device']['test_pack'] == 'Device Qualification' %}
          <img src="data:image/png;base64, {{ icon_qualification }}" alt="">
          <span>Device Qualification</span>
        {% else %}
          <img src="data:image/png;base64, {{ icon_pilot }}" alt="">
          <span>Pilot Assessment</span>
        {% endif %}
      </p>
      <h1>{{ title }}</h1>
    </div>
    <h3 class="header-info-device">
      {{ device['manufacturer'] }}
      {{ device['model']}}
    </h3>
  {% else %}
  <div class="header">
    <div class="header-info">
      {# Badge #}
      <p class="header-info-badge">
        {% if json_data['device']['test_pack'] == 'Device Qualification' %}
          <img src="data:image/png;base64, {{ icon_qualification }}" alt="">
          <span>Device Qualification</span>
        {% else %}
          <img src="data:image/png;base64, {{ icon_pilot }}" alt="">
          <span>Pilot Assessment</span>
        {% endif %}
      </p>
      <span style="font-weight:600">{{ title }}</span>
    </div>
    <span style="margin-top:0;max-width:700px;font-size:24px;font-weight:600;"> 
      {{ device['manufacturer'] }}
      {{ device['model']}}
    </span>
  {% endif %}   
    <img src="data:image/png;base64, {{ logo }}" alt="Testrun" width="90" style="position: absolute;top: 40%; right: 0px;"></img>
  </div>
{% endmacro %}