/* Set some global variables */
    :root {
      --header-height: .75in;
      --header-width: 8.5in;
      --header-pos-x: 0in;
      --header-pos-y: 0in;
      --page-width: 8.5in;
    }

    @font-face {
      font-family: 'Google Sans';
      font-style: normal;
      src: url(https://fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpyk.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      src: url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* Define some common body formatting*/
    body {
      font-family: 'Google Sans', sans-serif;
      margin: 0px;
      padding: 0px;
    }
    
    /* Sets proper page size during print to pdf for weasyprint */
    @page {
      size: Letter;
      width: 8.5in;
      height: 11in;
    }

    .page {
      position: relative;
      margin: 0 20px;
      width: 8.5in;
      height: 11in;
    }

    /* Define the  header related css elements*/
    .header {
      position: relative;
    }

    h1 {
      margin: 0 0 8px 0;
      font-size: 20px;
      font-weight: 400;
    }

    h2 {
      margin: 0px;
      font-size: 48px;
      font-weight: 700;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
      margin-top: 15px;
    }

    h4 {
      font-size: 12px;
      font-weight: 500;
      color: #5F6368;
      margin-bottom: 0;
      margin-top: 0;
    }

    /* CSS for the footer */
    .footer {
      position: absolute;
      height: 30px;
      width: 8.5in;
      bottom: 0in;
      border-top: 1px solid #D3D3D3;
    }

    .footer-label {
      color: #3C4043;
      position: absolute;
      top: 5px;
      font-size: 12px;
    }

    @media print {
      @page {
        size: Letter;
        width: 8.5in;
        height: 11in;
      }
    }

    .risk-banner {
      min-height: 120px;
      padding: 5px 40px 0 40px;
      margin-top: 30px;
    }

    .risk-banner-limited {
      background-color: #E4F7FB;
      color: #007B83;
    }

    .risk-banner-high {
      background-color: #FCE8E6;
      color: #C5221F;
    }

    .risk-banner-title {
      text-transform: uppercase;
      font-weight: bold;
    }

    .risk-table {
      width: 100%;
      margin-top: 40px;
      text-align: left;
      color: #3C4043;
      font-size: 14px;
    }

    .risk-table-head {
      margin-bottom: 15px;
    }

    .risk-table-head-question {
      display: inline-block;
      margin-left: 70px;
      font-weight: bold;
    }

    .risk-table-head-answer {
      display: inline-block;
      margin-left: 325px;
      font-weight: bold;
    }

    .risk-table-row {
      margin-bottom: 8px;
      background-color: #F8F9FA;
      display: flex;
      align-items: stretch;
      overflow: hidden;
    }

    .risk-question-no {
      padding: 15px 20px;
      width: 10px;
      display: inline-block;
      vertical-align: top;
      position: relative;
    }

    .risk-question {
      padding: 15px 20px;
      display: inline-block;
      width: 350px;
      vertical-align: top;
      position: relative;
      height: 100%;
    }

    .risk-answer {
      background-color: #E8F0FE;
      padding: 15px 20px;
      display: inline-block;
      width: 340px;
      position: relative;
      height: 100%;
    }

    ul {
      margin-top: 0;
    }

    .risk-label{
      position: absolute;
      top: 0px; 
      right: 0px;
      width: 52px;
      height: 16px;
      font-family: 'Google Sans', sans-serif;
      font-size: 8px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.64px;
      text-align: center;
      font-weight: bold;
      border-radius: 3px;
    }

    .risk-label-high{
      background-color: #FCE8E6;
      color: #C5221F;
    }

    .risk-label-limited{
      width: 65px;
      background-color:#E4F7FB;
      color: #007B83;
    }