# Dependencies to user defined packages
# Package dependencies should always be defined before the user defined
# packages to prevent auto-upgrades of stable dependencies

# User defined packages
scapy==2.6.0
pyshark==0.6
