# Dependencies to user defined packages
# Package dependencies should always be defined before the user defined
# packages to prevent auto-upgrades of stable dependencies
protobuf==5.28.0

# User defined packages
grpcio==1.67.1
grpcio-tools==1.67.1
netifaces==0.11.0

# Requirements for reports generation
Jinja2==3.1.6
