{% extends base_template %}
{% block content %}
{% if module_data %}
  <table class="module-data">
    <thead>
      <tr>
        {% for header in module_data_headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in module_data %}
        <tr>
              <td>{{ row['Port'] }}</td>
              <td>{{ row['State'] }}</td>
              <td>{{ row['Service'] }}</td>
              <td>{{ row['Version'] }}</td>
            </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="callout-container info">
    <div class="icon"></div>
    No open ports detected
  </div>
{% endif %}
{% endblock %}