@import "../../../theming/colors";
@import "../../../theming/variables";

:host {
  overflow-y: auto;
  padding: 10px 0 12px;
}

table, tr {
  border: 1px solid $lighter-grey;
  border-collapse: collapse;
}

.progress-table {
  .table-header-row {
    height: 57px;
  }

  .table-row {
    height: 73px;
  }

  .table-cell,
  .table-header-cell {
    font-family: $font-secondary;
    font-size: 14px;
    line-height: 20px;
  }

  .table-header-cell {
    font-weight: 500;
    letter-spacing: 0.25px;
  }

  .table-cell {
    padding: 16px;
    letter-spacing: 0.2px;
  }

  .table-cell-result {
    min-width: 140px;
  }

  .table-cell-result-text {
    margin: 0;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;

    &.green {
      background: $green-50;
      color: $green-800;
    }

    &.read {
      background: $read-50;
      color: $read-700;
    }

    &.grey {
      background: $color-background-grey;
      color: $grey-800;
    }
  }
}
