<div class="progress-initiate-form">
  <span class="progress-initiate-form-title">Create new Testrun</span>

  <ng-container *ngIf="devices$| async as devices">
    <section class="progress-initiate-form-content" formArrayName="test_modules">
      <div class="progress-initiate-form-content-devices">
        <ng-container *ngFor="let device of devices">
          <app-device-item (itemClicked)="deviceSelected(device)"
                           [device]="device"></app-device-item>
        </ng-container>
      </div>
    </section>
  </ng-container>

  <mat-dialog-actions class="progress-initiate-form-actions">
    <button (click)="cancel()" color="primary" mat-button>Cancel</button>
    <button color="primary" disabled mat-button>Change Device</button>
    <button class="save-button" color="primary" disabled mat-flat-button>Start Testrun</button>
  </mat-dialog-actions>
</div>
