# Requirements for the core module
requests<2.29.0

# Requirements for the net_orc module
docker
ipaddress
netifaces
scapy

# Requirments for the test_orc module
weasyprint

# Requirements for the API
fastapi==0.109.1
psutil
uvicorn
pydantic==1.10.11

# Requirements for testing
pytest
pytest-timeout
