# Requirements for the core module
requests==2.32.3

# Requirements for the net_orc module
docker==7.1.0
ipaddress==1.0.23
netifaces==0.11.0
scapy==2.5.0

# Requirments for the test_orc module
weasyprint==61.2
pydyf==0.8.0

# Requirements for the API
fastapi==0.109.1
psutil==5.9.8
uvicorn==0.27.0
python-multipart==0.0.19
pydantic==2.7.1

# Requirements for testing
pytest==7.4.4
pytest-timeout==2.2.0
responses==0.25.3


# Requirements for the report
markdown==3.5.2

# Requirements for the session
cryptography==44.0.1
pytz==2024.1

# Requirements for the risk profile
python-dateutil==2.9.0

# Requirements for MQTT client
paho-mqtt==2.1.0

# Requirements for background tasks
APScheduler==3.10.4

# Requirements for reports generation
Jinja2==3.1.6
beautifulsoup4==4.12.3
