# Requirements for the core module
requests<2.29.0

# Requirements for the net_orc module
docker
ipaddress
netifaces
scapy

# Requirements for the API
fastapi==0.99.1
psutil
uvicorn
pydantic==1.10.11