@use '@angular/material' as mat;
@import '../../../theming/colors';

.spinner-container {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid mat.m2-get-color-from-palette($color-primary, 500);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
