<div class="label-column">
  <label
    class="setting-form-label {{ key }}-label"
    id="{{ key }}-label"
    for="{{ key }}-group">
    {{ groupLabel }}
  </label>
  <p class="setting-label-description">
    {{ description }}
  </p>
</div>

<mat-form-field appearance="outline" class="setting-field">
  <mat-select
    aria-labelledby="{{ key }}-group-label"
    id="{{ key }}-group"
    ngDefaultControl
    class="setting-radio-group"
    [placeholder]="label"
    [compareWith]="compare"
    [formControlName]="controlName">
    <mat-select-trigger>
      <ng-container *ngIf="control.value">
        <p *ngIf="control.value.key" class="option-value top">
          {{ control.value.key }}
        </p>
        <p *ngIf="control.value.value" class="option-value bottom">
          {{ control.value.value }}
        </p>
      </ng-container>
    </mat-select-trigger>
    <mat-option
      *ngFor="let option of options | keyvalue: asIsOrder"
      [value]="option"
      class="setting-option-value">
      <p class="option-value top">{{ option.key }}</p>
      <p class="option-value bottom">{{ option.value }}</p>
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="info-column">
  <ng-content></ng-content>
</div>
