<div class="label-column">
  <label
    class="setting-form-label {{ key }}-label"
    id="{{ key }}-label"
    for="{{ key }}-group">
    {{ groupLabel }}
  </label>
  <p class="setting-label-description">
    {{ description }}
  </p>
</div>

<mat-form-field appearance="outline" class="setting-field">
  <mat-select
    aria-labelledby="{{ key }}-group-label"
    id="{{ key }}-group"
    ngDefaultControl
    class="setting-radio-group"
    [placeholder]="label"
    [compareWith]="compare"
    [formControlName]="controlName">
    <mat-select-trigger>
      @if (control.value) {
        @if (control.value.key) {
          <p class="option-value top">
            {{ control.value.key }}
          </p>
        }
        @if (control.value.value) {
          <p class="option-value bottom">
            {{ control.value.value }}
          </p>
        }
      }
    </mat-select-trigger>
    @for (option of options | keyvalue: asIsOrder; track option) {
      <mat-option [value]="option" class="setting-option-value">
        <p class="option-value top">{{ option.key }}</p>
        <p class="option-value bottom">{{ option.value }}</p>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
<div class="info-column">
  <ng-content></ng-content>
</div>
