@import "../../../theming/colors";

:host {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.device-form {
  display: grid;
  padding: 24px;
  width: 549px;
  gap: 10px;
  overflow: auto;
}

.device-form-title {
  color: $grey-800;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 14px;
}

.device-form-test-modules {
  overflow: auto;
  min-height: 78px;
}

.device-form-actions {
  padding: 0;
  min-height: 30px;
}

.close-button {
  color: #5F6368;
}

.device-form-mac-address-error {
  white-space: nowrap;
}
