.browse-files-button {
  margin: 18px 16px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  height: auto;
  min-height: 36px;
}

#default-file-input {
  display: none;
}
