# Dependencies to user defined packages
# Package dependencies should always be defined before the user defined
# packages to prevent auto-upgrades of stable dependencies
appdirs==1.4.4
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
idna==3.8
packaging==24.1
pycparser==2.22
pyshark==0.6
termcolor==2.4.0
urllib3==2.5.0

# User defined packages
cryptography==44.0.1
pyOpenSSL==24.3.0
lxml==5.1.0 # Requirement of pyshark but if upgraded automatically above 5.1 will cause a
pyshark==0.6
requests==2.32.4
python-nmap==0.7.1
