# Dependencies to user defined packages
# Package dependencies should always be defined before the user defined
# packages to prevent auto-upgrades of stable dependencies
appdirs==1.4.4
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
idna==3.18
packaging==26.2
pycparser==3.0
pyshark==0.6
termcolor==3.3.0
urllib3==2.7.0

# User defined packages
cryptography==48.0.1
pyOpenSSL==26.2.0
lxml==6.1.1
requests==2.34.2
python-nmap==0.7.1

