<ng-container *ngIf="(devices$| async)?.length;  else empty">
  <mat-toolbar class="device-repository-toolbar">
    <span>Device Repository</span>
    <ng-container *ngTemplateOutlet="addDeviceButton"></ng-container>
  </mat-toolbar>
  <div class="device-repository-content">
    <ng-container *ngFor="let device of (devices$| async)">
      <app-device-item (itemClicked)="openDialog($event)" [device]="device"></app-device-item>
    </ng-container>
  </div>
</ng-container>

<ng-template #empty>
  <div class="device-repository-content-empty">
    <ng-container *ngTemplateOutlet="addDeviceButton"></ng-container>
  </div>
</ng-template>

<ng-template #addDeviceButton>
  <button (click)="openDialog()" aria-label="Add device" class="device-add-button" color="primary"
          mat-flat-button>
    <mat-icon>add</mat-icon>
    Add device
  </button>
</ng-template>
