@import "../../theming/colors";
@import "../../theming/variables";

:host {
  overflow: hidden;
}

.device-repository-content-empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-repository-toolbar {
  padding-left: 41px;
  gap: 10px;
  background: $white;
  height: 76px;
}

.device-repository-content {
  align-content: start;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, $device-item-width);
  gap: 16px;
  overflow-y: auto;
  height: 100%;
}
