@use '@angular/material' as mat;
@import "../../../theming/colors";

:host {
  width: 100%;
  overflow: hidden;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 8px;

  .breadcrumb-item {
    display: flex;
    flex: 0 1 auto;
    max-width: 25%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-right: 16px;

    &.first {
      margin-right: 6px;
      flex-shrink: 0;
    }
  }

  .icon-home {
    color: $dark-grey;
    flex-shrink: 0;
  }

  .icon {
    color: $secondary;
    flex-shrink: 0;
  }

  .breadcrumb-text {
    color: mat.get-color-from-palette($color-primary, 600);
    text-align: center;
    /* font-family: SF Pro Text; */
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
