@use 'colors';
@use 'variables';
@use '@angular/material' as mat;

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.side-add-button-container {
  position: relative;
}

.side-add-menu-trigger {
  position: absolute;
  top: 0;
  right: -20px;
}

.side-add-menu-triangle {
  position: absolute;
  top: 18px;
  left: -12px;
}

::ng-deep .side-add-menu {
  overflow: visible !important;
  width: 278px;
  border-radius: 4px;
  padding: 0 8px;
}

.side-add-button {
  --mdc-fab-container-color: #{colors.$primary-container};
  --mat-icon-color: #{colors.$primary};
}

.side-add-menu-button {
  gap: 12px;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  display: grid;
  background: inherit;
  grid-template-columns: min-content auto;
}

::ng-deep .using-mouse .side-add-menu-button {
  &.cdk-mouse-focused,
  &.cdk-program-focused {
    background: inherit !important;
  }
  &.cdk-mouse-focused::before,
  &.cdk-program-focused::before {
    content: none;
  }
}

.side-add-menu-button-description {
  color: colors.$on-surface-variant;
  font-family: variables.$font-text;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.side-add-menu-button-label {
  color: colors.$on-surface;
  font-family: variables.$font-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
