@use '@angular/material' as mat;
@import '../../../../../theming/colors';
@import '../../../../../theming/variables';

:host {
  padding-top: 16px;
}

.setting-form-label {
  font-size: 18px;
  color: $dark-grey;
}

:host:has(.two-ports-message) .internet-label {
  padding-top: 16px;
}

.setting-label-description {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 8px 0;
  color: $dark-grey;
}

.setting-option-value {
  padding: 14px 16px;
}

.option-value {
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;

  &.top {
    color: $grey-800;
  }

  &.bottom {
    color: $grey-700;
  }
}

.setting-field {
  width: 100%;
  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 76px;
    display: flex;
    align-items: center;
  }

  ::ng-deep .mat-mdc-floating-label {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  ::ng-deep .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
    top: 35px;
  }
}
