@use '@angular/material' as mat;
@import "../../../theming/colors";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.setting-container-content {
  flex: 1 0 auto;
}

.settings-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 16px 24px;

  &-title {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  &-button {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin: 4px;
    padding: 8px;
    box-sizing: content-box;

    .close-button-icon {
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }
}

.setting-drawer-content {
  padding: 11px 16px 16px;
}

.error-message-container {
  display: block;
}

.setting-form-label {
  font-size: 18px;

  &.device-label {
    display: inline-block;
    padding-top: 16px;
  }
}

.setting-radio-group {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  align-items: flex-start;
}

.setting-radio-button {
  padding: 8px 0;

  ::ng-deep .mdc-form-field > label {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: $grey-800;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.setting-drawer-footer {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 16px 24px 8px 24px;

  .close-button, .save-button {
    padding: 0 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  .close-button {
    margin-right: 10px;
    &:enabled {
      color: $secondary;
    }
  }
}
