@import "../../../theming/colors";
@import "../../../theming/variables";

$icon-width: 80px;
$border-radius: 12px;

.device-item {
  display: grid;
  width: $device-item-width;
  border-radius: $border-radius;
  border: 1px solid #C4C7C5;
  background: $white;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr $icon-width;
  padding: 0;
  grid-column-gap: 8px;
  grid-row-gap: 4px;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas:
    "name name icon"
    "manufacturer address icon";

  &:hover {
    cursor: pointer;
  }
}

.item-name {
  padding: 0 16px;
  grid-area: name;
  justify-self: start;
  align-self: end;
  color: #1F1F1F;
  justify-content: start;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
  text-align: start;
}

.item-manufacturer {
  padding: 0 16px;
  grid-area: manufacturer;
  justify-self: start;
  color: $grey-800;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-mac-address {
  padding-right: 16px;
  grid-area: address;
  justify-self: end;
  color: #80868B;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding-top: 2px;
  line-height: 20px;
}

.item-icon {
  grid-area: icon;
  width: $icon-width;
  height: calc($icon-width - 2px);
  background-color: #E8F0FE;
  justify-self: end;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-image: url(/assets/icons/devices_add.svg);
}
