name: Testrun test suite
permissions: {}

on:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  testrun_baseline:
    permissions: {}
    name:  Baseline
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - name: Checkout source
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install dependencies
        shell: bash {0}
        run: cmd/prepare
      - name: Install Testrun
        shell: bash {0}
        timeout-minutes: 10
        run: TESTRUN_DIR=. cmd/install
      - name: Run baseline tests
        shell: bash {0}
        run: testing/baseline/test_baseline

  testrun_api:
    permissions: {}
    name:  API
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - name: Checkout source
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install dependencies
        shell: bash {0}
        run: cmd/prepare
      - name: Install Testrun
        shell: bash {0}
        run: cmd/install -l
        timeout-minutes: 30
      - name: Run tests
        shell: bash {0}
        run: testing/api/test_api
      - name: Archive runtime results
        if: ${{ always() }}
        run: sudo tar --exclude-vcs -czf runtime.tgz runtime/ local/
      - name: Upload runtime results
        uses: actions/upload-artifact@694cdabd8bdb0f10b2cea11669e1bf5453eed0a6 # v4.2.0
        if: ${{ always() }}
        with:
          if-no-files-found: error
          name: runtime_api_${{ github.run_id }}
          path: runtime.tgz

  testrun_unit:
    permissions: {}
    name:  Unit
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
      - name: Checkout source
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install dependencies
        shell: bash {0}
        run: cmd/prepare
      - name: Install Testrun
        shell: bash {0}
        run: cmd/install -l
      - name: Build Testrun
        shell: bash {0}
        run: cmd/build
        timeout-minutes: 10
      - name: Run tests
        shell: bash {0}
        run: bash testing/unit/run.sh

  pylint:
    permissions: {}
    name:  Pylint
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout source
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Run pylint
        shell: bash {0}
        run: testing/pylint/test_pylint

  testrun_ui:
    permissions: {}
    name: UI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Install Node
      uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
      with:
        node-version: 18.18.0
    - name: Install Chromium Browser
      run: sudo apt install chromium-browser
    - name: Install dependencies
      run: npm install && npm ci
      working-directory: ./modules/ui
    - name: Run tests
      run: |
        export CHROME_BIN=/usr/bin/chromium-browser
        CI=true npm run test-headless
      env:
        CI: true
      working-directory: ./modules/ui

  linters_ui:
    permissions: {}
    name: ESLint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Install Node
      uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
      with:
        node-version: 18.18.0
    - name: Install dependencies
      run: npm install && npm ci
      working-directory: ./modules/ui
    - name: Run ESLint
      run: npm run lint
      working-directory: ./modules/ui
    - name: Run format check
      run: npm run format
      working-directory: ./modules/ui
