name: Testrun test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  testrun_baseline:
    name:  Baseline
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Package Testrun
        shell: bash {0}
        run: cmd/package
      - name: Install Testrun
        shell: bash {0}
        run: dpkg -i testrun*.deb
      - name: Run tests
        shell: bash {0}
        run: testing/baseline/test_baseline
    
  testrun_tests:
    name:  Tests
    runs-on: ubuntu-20.04
    needs: testrun_baseline
    timeout-minutes: 40
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Run tests
        shell: bash {0}
        run: testing/tests/test_tests

  pylint:
    name:  Pylint
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Run tests
        shell: bash {0}
        run: testing/pylint/test_pylint
