name: Testrun test suite

on:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  testrun_baseline:
    name:  Baseline
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Run tests
        shell: bash {0}
        run: testing/baseline/test_baseline
    
  testrun_tests:
    name:  Tests
    runs-on: ubuntu-20.04
    timeout-minutes: 40
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Run tests
        shell: bash {0}
        run: testing/tests/test_tests
      - name: Archive runtime results
        run: tar --exclude-vcs -czf runtime.tgz runtime/ .
      - name: Upload runtime results
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          if-no-files-found: error
          name: runtime_${{ github.action }}_${{ github.run_id }}
          path: runtime.tgz

  pylint:
    name:  Pylint
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Run tests
        shell: bash {0}
        run: testing/pylint/test_pylint
