name: Testrun test suite

on:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  testrun_baseline:
    name:  Baseline
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        shell: bash {0}
        run: cmd/prepare
      - name: Package Testrun
        shell: bash {0}
        run: cmd/package
      - name: Install Testrun
        shell: bash {0}
        timeout-minutes: 10
        run: sudo dpkg -i testrun*.deb
      - name: Run baseline tests
        shell: bash {0}
        run: testing/baseline/test_baseline
    
  testrun_tests:
    name:  Tests
    runs-on: ubuntu-20.04
    needs: testrun_baseline
    timeout-minutes: 45
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        shell: bash {0}
        run: cmd/prepare
      - name: Package Testrun  
        shell: bash {0}
        run: cmd/package
      - name: Install Testrun
        shell: bash {0}
        run: sudo dpkg -i testrun*.deb
      - name: Run tests
        shell: bash {0}
        run: testing/tests/test_tests
      - name: Archive runtime results
        if: ${{ always() }}
        run: sudo tar --exclude-vcs -czf runtime.tgz /usr/local/testrun/runtime/
      - name: Upload runtime results
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          if-no-files-found: error
          name: runtime_${{ github.workflow }}_${{ github.run_id }}
          path: runtime.tgz

  testrun_api:
    name:  API
    runs-on: ubuntu-20.04
    timeout-minutes: 40
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        shell: bash {0}
        run: cmd/prepare
      - name: Package Testrun  
        shell: bash {0}
        run: cmd/package
      - name: Install Testrun
        shell: bash {0}
        run: sudo dpkg -i testrun*.deb
        timeout-minutes: 10
      - name: Run tests
        shell: bash {0}
        run: testing/tests/test_tests
      - name: Archive runtime results
        if: ${{ always() }}
        run: sudo tar --exclude-vcs -czf runtime.tgz /usr/local/testrun/runtime/ /usr/local/testrun/local/
      - name: Upload runtime results
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          if-no-files-found: error
          name: runtime_${{ github.workflow }}_${{ github.run_id }}
          path: runtime.tgz

  pylint:
    name:  Pylint
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Run pylint
        shell: bash {0}
        run: testing/pylint/test_pylint

  testrun_package:
    name: Package
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Package Testrun
        shell: bash {0}
        run: cmd/package
      - name: Archive package
        uses: actions/upload-artifact@v3
        with:
          name: Testrun Installer
          path: testrun*.deb