@use '@angular/material' as mat;
@import "../../theming/colors";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 32px;
}

.progress-content-empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-toolbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0;
  background: $white;

  .toolbar-col-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    padding: 0 32px 0 10px;
  }

  .toolbar-row {
    display: flex;
    align-items: center;

    &.top {
      gap: 15px;
      padding: 10px 0;

      button {
        flex-shrink: 0;
      }
    }

    &.bottom {
      gap: 16px;
      padding: 24px 0 8px;

      p {
        margin: 0;
      }
    }
  }

  .vertical-divider {
    width: 1px;
    height: 35px;
    background-color: $lighter-grey;
    flex-shrink: 0;
  }
}

.progress-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.report-button,
.stop-button,
.start-button {
  letter-spacing: 0.25px;
  padding: 0 24px;
}

.report-button {
  background-color: mat.get-color-from-palette($color-primary, 50);
  color: mat.get-color-from-palette($color-primary, 700);
}
