<ng-container *ngIf="systemStatus$ | async as data;  else empty">
  <ng-container
    *ngIf="data.status === StatusOfTestrun.InProgress
          || data.status === StatusOfTestrun.Cancelled
          || data.finished">
    <mat-toolbar class="progress-toolbar">
      <div class="toolbar-col-left">
        <div class="toolbar-row top">
          <ng-container *ngTemplateOutlet="startNewTestrunButton"></ng-container>
          <span class="vertical-divider"></span>
          <app-progress-breadcrumbs [breadcrumbs$]="breadcrumbs$">
          </app-progress-breadcrumbs>
        </div>
        <div class="toolbar-row bottom">

          <p class="progress-title">
            {{data.device.manufacturer}} {{data.device.model}} {{data.device.firmware}} {{data.started | date: 'd MMM y H:mm'}}
          </p>
          <button
            *ngIf="data.status === StatusOfTestrun.InProgress"
            (click)="stopTestrun()"
            class="stop-button"
            aria-label="Stop testrun"
            color="warn"
            mat-flat-button>
            Stop
          </button>
          <app-download-report *ngIf="data.report" [data]="data">
            <button
              class="report-button"
              aria-label="Download testrun report"
              mat-flat-button>
              Download Report
            </button>
          </app-download-report>
        </div>
      </div>
      <app-progress-status-card [systemStatus$]="systemStatus$">
      </app-progress-status-card>
    </mat-toolbar>
    <app-progress-table [dataSource$]="dataSource$"></app-progress-table>
  </ng-container>
  <ng-container *ngIf="!data.started">
    <ng-container *ngTemplateOutlet="empty"></ng-container>
  </ng-container>
</ng-container>

<ng-template #empty>
  <div class="progress-content-empty">
    <ng-container *ngTemplateOutlet="startNewTestrunButton"></ng-container>
  </div>
</ng-template>

<ng-template #startNewTestrunButton>
  <button class="start-button"
          aria-label="Start new testrun"
          color="primary"
          [disabled]="(systemStatus$ | async)?.status === StatusOfTestrun.InProgress"
          (click)="openTestRunModal()"
          mat-flat-button>
    Start New Testrun
  </button>
</ng-template>
